h1 {
  font-family: Verdana;
  font-size: 50px;
  color: white;
  text-align: center;
}
.download {
  font-family: Verdana;
  color: AquaMarine;
  font-size: 16px;
  text-align: center;
}
html {
  background-color: black;

}
